Options -Indexes

AddDefaultCharset UTF-8

# Force MIME types
AddType text/css .css
AddType application/javascript .js
AddType image/svg+xml .svg
AddType image/webp .webp

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
</IfModule>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/css application/javascript image/webp image/svg+xml
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /iaev/

  # Explicitly allow access to real files and directories
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Redirect everything else to index.html
  RewriteRule ^index\.html$ - [L]
  RewriteRule . /iaev/index.html [L]
</IfModule>
